/* ---------------------------------------------------------------------- */
/*  Theme Default
/* ---------------------------------------------------------------------- */
body {
  background-color: #22262f;
}
body.layout-boxed {
  background: url("../../images/bg.png") #22262f;
}

#slidingbar {
  background: rgba(34, 38, 47, 0.9);
}

.main-container, #pageslide-left, #pageslide-right {
  background-color: #62a400 !important;
}

.label-default, .badge-default {
  background: #e66b6b !important;
}

.pace .pace-progress {
  background: #5f8295;
}

.topbar {
  background: #000;
  background-color: #22262F 0px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#22262F 0px), to(#000 100%));
  background-image: -webkit-linear-gradient(top, #22262F 0px, #000 100%);
  background-image: -moz-linear-gradient(top, #22262F 0px, #000 100%);
  background-image: -ms-linear-gradient(top, #22262F 0px, #000 100%);
  background-image: -o-linear-gradient(top, #22262F 0px, #000 100%);
  background-image: linear-gradient(top, #22262F 0px, #000 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#22262F 0px', endColorStr='#000 100%');
  
}
.topbar > .container .navbar-brand, .topbar .logo {
  color: white;
}
.topbar .topbar-tools > ul > li > a {
  color: white;
}
.topbar .topbar-tools > ul > li.right-menu-toggle > a {
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #5f8295;
}
.topbar .nav li.dropdown.open > .dropdown-toggle, .topbar .nav li.dropdown.active > .dropdown-toggle, .topbar .nav li.dropdown.open.active > .dropdown-toggle {
  background: none;
  color: white;
}
.topbar .nav > li:hover > a, .topbar .nav > li:active > a, .topbar .nav > li > a:focus {
  color: white;
  background: none;
}

ul.main-navigation-menu > li a {
  border-bottom: none;
  border-top-color: #76D210;
  color: #000;
}
ul.main-navigation-menu > li a i {
  color: #000;
  font-weight: normal;
}
ul.main-navigation-menu > li.active > a {
  background: #76D210 !important;
  border-top: none !important;
  color: white;
}
ul.main-navigation-menu > li.active > a i {
  color: white;
}

ul.main-navigation-menu li > ul.sub-menu > li > a:hover {
  background: #76D210;
  color: white !important;
}

ul.main-navigation-menu li > ul.sub-menu > li.open > a, ul.main-navigation-menu li > ul.sub-menu > li.active > a, ul.main-navigation-menu li > ul.sub-menu > li.open > a:hover, ul.main-navigation-menu li > ul.sub-menu > li.active > a:hover {
  background: #76D210 !important;
  color: white !important;
}

ul.main-navigation-menu > li.open > a, ul.main-navigation-menu > li > a:hover, ul.main-navigation-menu > li:hover > a {
  background-color: #76D210 !important;
}

ul.main-navigation-menu li.divider {
  background-color: #2d323e !important;
}

ul.main-navigation-menu li.dropdown-header, ul.main-navigation-menu .mega-menu-sub-title {
  color: #6e727c !important;
}

ul.main-navigation-menu .mega-menu .mega-menu-content ul.mega-sub-menu a {
  color: white !important;
}
ul.main-navigation-menu .mega-menu .mega-menu-content ul.mega-sub-menu a:hover {
  background: none !important;
}

ul.main-navigation-menu .mega-menu .mega-menu-content ul.mega-sub-menu li.active a, ul.main-navigation-menu .mega-menu .mega-menu-content ul.mega-sub-menu li.active a:hover, ul.main-navigation-menu .mega-menu .mega-menu-content ul.mega-sub-menu li.active a:focus {
  background-color: #171a20 !important;
  text-decoration: none;
}

ul.main-navigation-menu .mega-menu .mega-menu-content ul.mega-sub-menu li a:hover {
  background-color: #76D210 !important;
  text-decoration: none;
}

#horizontal-menu .container {
  background: #22262f;
}
#horizontal-menu .navbar-collapse .navbar-nav > li > a {
  color: #8b95ab;
}
#horizontal-menu .navbar-collapse .navbar-nav > li > a:hover {
  color: white;
  background: #171a20;
}
#horizontal-menu .navbar-collapse .navbar-nav > li > a:active, #horizontal-menu .navbar-collapse .navbar-nav > li > a:focus {
  background: #0d0e11;
}
#horizontal-menu .navbar-collapse .navbar-nav > li.active > a {
  color: white;
  background: #e66b6b;
}
#horizontal-menu .navbar-collapse .navbar-nav > li.active > a:after {
  border-top-color: #e66b6b;
}
#horizontal-menu .dropdown-menu .active a {
  background-color: #5f8295;
}

.main-content {
  background: #DDDDDD;
}

.go-top {
  color: white;
}

.footer-inner {
  color: white;
}

#pageslide-left .slide-tools {
  background-color: #171a20;
}
#pageslide-left .btn {
  color: rgba(255, 255, 255, 0.3);
}
#pageslide-left .btn:hover {
  color: white;
  background-color: rgba(17, 19, 23, 0.4);
}
#pageslide-left .user-profile {
  border-color: #2d323e;
  position: relative;
}
#pageslide-left .user-profile h5 {
  color: #000;
}
#pageslide-left .user-profile h4 {
  color: white;
}

.closedbar {
  background-color: #62a400 !important;
}
.closedbar:hover {
  background-color: #76D210 !important;
}

#pageslide-right .pageslide-title {
  color: rgba(255, 255, 255, 0.4);
}
#pageslide-right .notifications a {
  color: #EEEEEE;
  background: #23262D;
}
#pageslide-right .notifications a:hover {
  background: #76D210;
}
#pageslide-right .notifications a .time {
  color: #757575;
}

#style_selector_container .box-title {
  color: rgba(255, 255, 255, 0.8) !important;
}
#style_selector_container .images {
  border-bottom: 1px solid #2d323e;
}
#style_selector_container .images img.active {
  border: 2px solid #c6cbd6;
}

footer {
  background-color: #171a20;
}
